<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src={{slider_image_01}} alt="">
    <video class="hero-background-image" id="hero-video" 
                           poster= {{slider_image_01}}>
                            <source src="//cdn-cf-east.streamable.com/video/mp4/zeynko.mp4?Expires=1646721900&Signature=c-Gwpz4udHMrORLEP16kiie6gPH3o5X5lAfoVeh3Pl65NUx809ST58rGWYtB-XNfxN~LL5YtmVGwrQISgB-bB9garG83xWtJ39qz6cnitxarpAGqRJpnDXvMGl91Y3gbpoWIQjnFRV4Ma273WmbOTtnGxZ-FVdIs1yskfWt-oog~nf7ZieVcIRf76qN3rY3snnjGsRbHQBlfsgm3sH-PYkEfZSXNycMEDvezYjDGyLClWI0TuQ08-lZ6oL3Z6QGMduOc2Yt7lr71l09U3eZRWgAhZRqdwJ3shrgulT3T9HPzjAf9TGhCN-pCnfmhALY3QimhrFky0xV~wbMYZRuoFw__&Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ"
                                type="video/mp4">
                           Your browser does not support the video tag.
                        </video>
    <p>{{test}}</p>
</body>
</html>